body
{
    text-align: center;
}

header
{
    padding: 20px;
    font-weight: bold;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

header .left
{
    width: 400px;
    margin-left: 150px;
}

h1
{
    display: inline;
    vertical-align: middle;
}

a
{
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}
a:hover
{
    color: #000000;
    text-decoration: none;
}

.comment
{
    display: inline-block;
    background-color: #eeeeee;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

.comment img
{
    width: 10px;
    position: absolute;
    top: 11px;
    left: -10px;
}

.icon
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #eeeeee;
    margin: auto;
    padding-top: 10px;
    font-weight: bold;
}
.icon:hover
{
    background-color: #c9302c;
}

#lang
{
    display: inline;
    color: lightgrey;
}

#lang .selected
{
    color: black;
    text-decoration: underline;
}

#banner img
{
    width: 100%;
}

#demo
{
    margin-bottom: 60px;
}

#demo .video .header
{
    font-size: 18px;
    padding: 40px;
}

#demo .video .header img
{
    vertical-align: text-bottom;
    height: 20px;
    margin-right: 5px;
}

#demo .video
{
    margin-bottom: 20px;
}

#demo .phoneApp .header
{
    padding: 40px;
}

#demo .phoneApp .body img
{
    float: left;
}

#demo .phoneApp .body.wrap
{
    width: 300px;
    margin: auto;
}

#kilometres
{
    background-color: #cccccc;
    padding: 25px;
    margin-bottom: 60px;
}

#kilometres .result
{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
}

#kilometres .info
{
    margin-bottom: 40px;
    font-size: 10px;
}

.red
{
    color: red;
}

h3
{
    font-weight: bold !important;
    font-size: 20px !important;
}

h2
{
    font-weight: normal !important;
}

#fonctions .phones .body img
{
    margin: 10px 30px;
}

#fonctions .phones
{
    margin-bottom: 60px;
}

#fonctions .modules .wrap
{
    width: 900px;
    margin: auto;
}

#fonctions .modules .header h2
{
    margin-bottom: 60px;
}

#fonctions .modules .body .row
{
    margin-bottom: 60px;
}

#quotes
{
    background-color: #cccccc;
    padding: 40px 20px 60px 20px;
}

#quotes .quote .icon
{
    display: inline-block;
}

.quote
{
    margin: 25px auto;
}

#quotes .comment
{
    padding: 10px;
    border-radius: 3px;
}

#quotes .comment img
{
    top: 15px;
}

#quotes h2
{
    margin-bottom: 40px;
}

footer
{
    background-color: #eeeeee;
    padding: 20px 20px 60px 20px;
}